extends index

block content
  .row.justify-content-center
    .text-center.mt-5
      img(src='/images/TAEMBO_Favicon.png' style='height:180px;').mb-5
      h3=error.statusCode + ' - ' + error.message
      h2=("Whoops! An error occurred.")