extends index

block content
  .row.justify-content-center
    .col-xl-2
      .card.mb-3.small.shadow-sm
        .card-header=("Current servers")
        ul.list-group.list-group-flush
          each label in keys
            li.list-group-item
              a(href='/' + label.key) #{label.name}
