extends index

block content
  .row.justify-content-center
    .col-xl-2
      .card.mb-3.small.shadow-sm
        .card-header=("Current servers")
        ul.list-group.list-group-flush
          li.list-group-item
            a(href='/cs') Corn Silage
          li.list-group-item
            a(href='/gs') Grass Silage
