@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,300,700");
body {
    color: #bfbfbf;
    font-size: 14px;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
    -webkit-font-smoothing: antialiased;
}

.list-group-anchor {
    color: #000;
}

.dark-mode {
    background-color: #090909;
}

.dark-mode-card {
    background-color: #090909;
}

.dark-mode-list-group {
    --bs-list-group-color: #fff;
    --bs-list-group-bg: #171717;
    --bs-list-group-border-color: rgba(255, 255, 255, 0.13);
}

.dark-mode-list-group-anchor {
    color: #06860a;
}

a {
    color: #06860a;
    text-decoration: none;
}
a:hover {
    color: #0f6b06;
    text-decoration: none;
}

.card,
.card-header:first-child,
.card-footer:last-child {
    border-radius: 0;
}

.card.bg-warn > .card-header {
    background-color: #ecb008;
    color: #000;
    font-size: 15px;
    font-weight: normal;
}

.card.mb-3 {
    font-size: 16px;
}

.card.bg-info > .card-header {
    color: #000;
    font-size: 15px;
    font-weight: normal;
}

.list-group-item {
    font-size: 13px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.card-header {
    background-color: #000000;
    color: white;
    font-weight: bold;
}

.container {
    max-width: 2048px;
    padding-right: calc(var(--bs-gutter-x) * 1.5);
    padding-left: calc(var(--bs-gutter-x) * 1.5);
}

main > .container {
    padding: 80px 15px 15px;
}

.navbar {
    background-color: #000000;
}

.nav-link {
    padding: 0.5mm;
}

.navbar.nav {
    font-size: 18px;
}

.button {
    margin-left: 5mm;
}

.dropdown-menu {
    font-size: 14px !important;
    min-width: auto;
}

.leaflet-container {
    aspect-ratio: 1 / 1;
    height: calc(95vh - 80px);
}

@media screen and (max-width: 850px) {
    .leaflet-container {
        width: 99% !important;
        height: 99% !important;
    }

    .col-xl-auto {
        padding-bottom: 16px;
    }

    main > .container {
        padding: 120px 15px 15px;
    }

    .navbar > .container > * {
        margin: auto
    }
}